.header {
    background-color: #00b3f5;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 16px;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 24px;
    height: 2.5em;
    width: 12em;
    font-size: 18px;
}

.btn-primary {
    background-color: #00cd50;
}

.btn-danger {
    background-color: #c81a0d;
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.container {
    margin-right: 0.75em;
    margin-left: 0.75em;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.column,
.payment {
    flex: 1 100%;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.sub-title,
p {
    color: #8d99aa;
}

.flexbox-form,
.payments {
    margin: 0 auto;
    padding: 0.65em 1em 1.5em;
    max-width: 560px;
}

.payments {
    border-bottom: 1px solid grey;
}

label {
    margin-left: -1px;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    text-align: center;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
    width: 100%;
    height: 3em;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 8px;
    border-bottom: 1px solid grey;
    background-color: transparent;
}

button[type="submit"] {
    height: 2.5em;
    width: 12em;
    font-size: 18px;
    background-color: #00cd50;
    color: #fff;
    border-radius: 24px;
}
