body {
  margin: 0;
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Hind, "Courier New", sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

